* {
    font-family: roboto, sans-serif;
}

body{
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;    
    gap: 16px;
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;    
}

h1 {
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px 0 64px 0;
    display: flex;    
    justify-content: center;
    gap: 32px;
}

.upper-container{
    display: flex;
    flex-direction: column;
    flex: 0 0 500px;
    gap: 128px;
}

#logo-signup {
    
}

#logo {
    font-size: 24px;
}

#links-image {    
    
}

#image {
    width: 400px;
}

#information {
   display: flex;
   flex-direction: column; 
   align-items: center;
   padding: 64px;
   gap: 32px;
}

#cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card-with-subtext {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card {    
    border-color: #3882f6;
    border-style: solid;
    border-radius: 16px;
    flex: 0 0 150px;
}
