* {
    font-family: roboto, sans-serif;
}

body{
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;    
    gap: 16px;
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;    
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px 0 64px 0;
    display: flex;    
    justify-content: center;
    gap: 32px;
}

.upper-container{
    display: flex;
    flex-direction: column;
    flex: 0 0 500px;
    gap: 128px;
}

#logo-signup {
    
}

#logo {
    font-size: 24px;
}

#links-image {
    d
    
}

#image {
    width: 400px;
}
